<!DOCTYPE html>
<html lang="en">
<head>
  <% include headerStuff %>
</head>
<body>
  <% include pageHeader %>
  <form method="post" action="/notes/destroy/confirm">
    <input type="hidden" name="notekey" value="<%= note ? notekey : '' %>">
    <p>Delete <%= title %>?</p>
    <br/>
    <input type="submit" value="Delete"> <a href="/notes/view?key=<%= notekey %>">Cancel</a>
  </form>
  <% include footer %>
</body>
</html>