<!DOCTYPE html>
<html lang="en">
<head>
  <% include headerStuff %>
</head>
<body>
  <div class="container-fluid">
    <% include pageHeader %>
    <form method="post" action="/notes/destroy/confirm">
      <input type="hidden" name="notekey" value="<%= note ? notekey : '' %>">
      <h3>Delete <%= title %>?</h3>
      <input type="submit" class="btn btn-primary" value="Delete"> <a href="/notes/view?key=<%= notekey %>" class="btn btn-default">Cancel</a>
    </form>
    <% include footer %>
  </div>
</body>
</html>