<header class="page-header">
  <h1><%= title %></h1>

  <% if (typeof hideAddNote === 'undefined') { %>
    <a class="btn btn-primary" href="/notes/add">Add</a>
  <% } %>
  <% if (typeof breadcrumbs !== 'undefined' && breadcrumbs) { %>
    <ol class="breadcrumb">
      <%
        for (var crumb of breadcrumbs) {
          if (crumb.active) {
      %>
            <li class="active"><%= crumb.text %></li>
      <%
          } else {
      %>
            <li><a href="<%= crumb.href %>"><%= crumb.text %></a></li>
      <%
          }
        }
      %>
    </ol>
  <% } %>
  <div class="navbar"><p><a href="/">Home</a> | <a href="/notes/add">Add Note</a> </p></div>
</header>